@page "/program"
@inherits Controller.ProgramController

<PageTitle>Topo / Program</PageTitle>

<EditForm Model="@model" >
    <DataAnnotationsValidator />
    <div class="mt-3 mb-3 row">
        <h2>Program @model.GroupName</h2>
    </div>

    <div class="form-group mb-3 row">
        <label for="unit" class="col-sm-2 col-form-label">
            Select Unit
        </label>
        <div class="col-sm-3">
            <select id="unit" class="form-select" value="@model.CalendarId" @onchange="CalendarChange">
                <option value="">Select unit</option>
                @foreach (var calendar in model.Calendars)
                {
                    <option value="@calendar.Key">@calendar.Value</option>
                }
            </select>
            <ValidationMessage For="@(() => model.CalendarId)"/>
        </div>
        <div class="col-sm-7">
        </div>
    </div>

    <div class="mt-3 mb-3 row">
        <label class="col-sm-2 col-form-label"> Search From Date</label>
        <div class="col-sm-3">
            <InputDate @bind-Value="@model.CalendarSearchFromDate" class="form-control" />
        </div>
        <label class="col-sm-2 col-form-label"> Search To Date</label>
        <div class="col-sm-3">
            <InputDate @bind-Value="@model.CalendarSearchToDate" class="form-control" />
        </div>
        <div class="col-sm-2">
        </div>
        <label class="col-sm col-form-label validation-message">@model.DateErrorMessage</label>
    </div>

    <div class="mt-3 mb-3 row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-3">
            <button type="submit" name="button" class="btn btn-primary" @onclick="ShowUnitCalendarClick">Show Unit Calendar</button>
        </div>
        <div class="form-check-inline col-sm-4">
            <InputCheckbox id="includeLeaders" class="form-check-input"
                           @bind-Value="model.IncludeGroupEvents" />
            <label for="unit" class="form-check-label">
                Include Group Events
            </label>
        </div>
        <div class="col-sm-3">
        </div>
    </div>

    @if (model.Events != null && model.Events.Any())
    {
        <div class="row header">
            <div class="col-sm-2">
                <strong>Date</strong>
            </div>
            <div class="col-sm-2">
                <strong>Event / Location</strong>
            </div>
            <div class="col-sm-1">
                <strong>Organiser</strong>
            </div>
            <div class="col-sm-1">
                <strong>Lead</strong>
            </div>
            <div class="col-sm-2">
                <strong>Assist</strong>
            </div>
            <div class="col-sm-1">
                <strong>Challenge</strong>
            </div>
            <div class="col-sm-1">
                <strong>Event</strong>
            </div>
            <div class="col-sm-2">
            </div>
        </div>

        @foreach (var item in model?.Events)
        {
            <div class="row striped">
                <div class="col-sm-2">
                    @item.EventDate
                </div>
                <div class="col-sm-2">
                    @item.EventName<br />@item.Location
                </div>
                <div class="col-sm-1">
                    @item.Organiser
                </div>
                <div class="col-sm-1">
                    @item.Lead
                </div>
                <div class="col-sm-2">
                    @item.Assist
                </div>
                <div class="col-sm-1">
                    @item.ChallengeArea
                </div>
                <div class="col-sm-1">
                    @(item.IsUnitEvent ? "Unit" : "Group")
                </div>
                <div class="col-sm-2">
                    <button @onclick="@(e => SignInSheetClick(item.Id))" class="btn btn-link pt-0 pb-0">Sign in</button>
                    <button @onclick="@(e => EventAttendanceClick(item.Id))" class="btn btn-link pt-0 pb-0">Attendance</button>
                </div>
            </div>
        }

        <div class="mt-3 mb-3 row">
            <div class="col-sm">
                <button type="submit" name="button" @onclick="AttendanceReportPdfClick" class="btn btn-primary">Attendance Report (pdf)</button> &nbsp;
                <button type="submit" name="button" @onclick="AttendanceReportXlsxClick" class="btn btn-success">Attendance Report (xlsx)</button> &nbsp;
                <button type="submit" name="button" @onclick="TermProgramReportXlsxClick" class="btn btn-success">Term Program (xlsx)</button>
            </div>
        </div>

    }

</EditForm>