@page "/approvals/approvals"
@inherits Controller.ApprovalsController
@using Syncfusion.Blazor.Grids

<PageTitle>Topo / Approvals</PageTitle>

<EditForm Model="@model">

    <div class="mt-3 mb-3 row">
        <h2>Approvals @model.GroupName</h2>
    </div>

    <div class="form-group mb-3 row">
        <label for="unit" class="col-sm-2 col-form-label">
            Select Unit
        </label>
        <div class="col-sm-3">
            <select id="unit" class="form-select" value="@model.UnitId" @onchange="UnitChange">
                <option value="">Select unit</option>
                @foreach (var unit in model.Units)
                {
                    <option value="@unit.Key">@unit.Value</option>
                }
            </select>
        </div>
        <div class="col-sm-7">
        </div>
    </div>

    <div class="mt-3 mb-3 row">
        <label class="col-sm-2 col-form-label">Search From Date</label>
        <div class="col-sm-3">
            <InputDate @bind-Value="@model.ApprovalSearchFromDate" class="form-control" />
        </div>
        <label class="col-sm-2 col-form-label">Search To Date</label>
        <div class="col-sm-3">
            <InputDate @bind-Value="@model.ApprovalSearchToDate" class="form-control" />
        </div>
        <div class="col-sm-2">
        </div>
        <label class="col-sm col-form-label validation-message">@model.DateErrorMessage</label>
    </div>

    <div class="mt-3 mb-3 row">
        <label class="col-sm-2 form-check-label" for="toBePresented">
            To be presented
        </label>
        <div class="col-sm-1">
            <InputCheckbox id="toBePresented" class="form-check-input"
                           @bind-Value="model.ToBePresented" />
        </div>
        <label class="col-sm-2 form-check-label" for="isPresented">
            Has been presented
        </label>
        <div class="col-sm-1">
            <InputCheckbox id="isPresented" class="form-check-input"
                           @bind-Value="model.IsPresented" />
        </div>
        <label class="col-sm-2 form-check-label" for="showRejected">
            Show Rejected
        </label>
        <div class="col-sm-1">
            <InputCheckbox id="showRejected" class="form-check-input"
                           @bind-Value="model.ShowRejected" />
        </div>
    </div>

    <div class="mt-3 mb-3 row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-3">
            <button type="submit" name="button" class="btn btn-primary" @onclick="RefreshApprovalsClick">Refresh list</button>
        </div>
        <div class="col-sm-3">
            <a href="approvals/backup" class="btn btn-primary">Backup/Restore</a>
        </div>
        <div class="col-sm-4">
        </div>
    </div>

    <SfGrid @ref="GridInstance" DataSource="@model.Approvals" AllowGrouping="true" AllowFiltering="true">
        <GridGroupSettings Columns="@(new string[] {"achievement_name"})"></GridGroupSettings>
        <GridFilterSettings Type="FilterType.Excel"></GridFilterSettings>
        <GridEditSettings AllowEditing="true" Mode="EditMode.Normal">
        </GridEditSettings>
        <GridEvents OnActionBegin="ActionBeginHandler" TValue="Model.Approvals.ApprovalsListModel"></GridEvents>
        <GridColumns>
            <GridColumn Field="achievement_id" HeaderText="Name" IsPrimaryKey="true" Visible="false"></GridColumn>
            <GridColumn Field="member_display_name" HeaderText="Name" AllowEditing="false"></GridColumn>
            <GridColumn Field="achievement_name" HeaderText="Achievement" AllowEditing="false" AllowFiltering="false"></GridColumn>
            <GridColumn Field="submission_type" HeaderText="Type" AllowEditing="false" AllowFiltering="false" AllowGrouping="false"></GridColumn>
            <GridColumn Field="submission_outcome" HeaderText="Outcome" AllowEditing="false" AllowFiltering="false" AllowGrouping="false"></GridColumn>
            <GridColumn Field="submission_status" HeaderText="Status" AllowEditing="false" AllowFiltering="true" AllowGrouping="false"></GridColumn>
            <GridColumn Field="awarded_date" HeaderText="Awarded" Format="dd/MM/yyyy" EditType="EditType.DatePickerEdit" Type="ColumnType.Date" AllowEditing="false" AllowFiltering="false" AllowGrouping="false"></GridColumn>
            <GridColumn Field="presented_date" HeaderText="Presented" Format="dd/MM/yyyy" EditType="EditType.DatePickerEdit" Type="ColumnType.Date" AllowEditing="true" AllowFiltering="false" AllowGrouping="false" EditorSettings="@DateEditParams"></GridColumn>
        </GridColumns>
    </SfGrid>

    @if (model.Approvals != null && model.Approvals.Any())
    {
        <div class="mt-3 mb-3 row">
            <div class="col-sm">
                <button type="submit" name="button" @onclick="ApprovalsReportPdfClick" class="btn btn-primary">Approvals Report (pdf)</button>
                <button type="submit" name="button" @onclick="ApprovalsReportXlsxClick" class="btn btn-success">Approvals Report (xlsx)</button>
            </div>
        </div>
    }

</EditForm>